# UNIT 17

- UNIT 17

표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [42]:
x = int(input())
while x >= 1350:
    x -= 1350
    print(x)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [40]:
#센세 풀이
balance = int(input())
fare = 1350

while balance >= fare:
    balance -= fare
    print(balance)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

# UNIT 18

- UNIT 18

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [31]:
start, stop = map(int, input().split())
i = start
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end=' ')
    i += 1

21 22 24 25 26 27 28 29 30 31 32

In [ ]:
# 센세풀이
start, stop = map(int, input().split())
i = start
while True:
    if i > stop:
        break
    if i % 10 == 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

In [25]:
# 센세풀이
start, stop = map(int, input().split())
for i in range(start, stop+1):
    if i % 10 ==3:
        continue
    print(i, end=' ')

10 11 12 14 15 16 17 18 19 20 21 22 24 25 26 27 28 29 30

# UNIT 19

- unit 19

표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [120]:
x = int(input())
for i in range(x):
    for j in range(x-i-1):
        print(' ',end='')
    for j in range(2*i+1):
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
# 센세풀이
height = int(input())
for i in range(1, height + 1):
    print(' ' * (height - i), end='')
    print('*' * (2 * i - 1))

# UNIT 23

- UNIT 23

In [6]:
# 센세 풀이
def print_mines(m):
    for row in m:
        for element in row:
            print(element, end=' ')
        print()

In [7]:
import random
row, col =map(int, input().split())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(col)] for _ in range(row)]
print_mines(mines)

* . .
. . .
. . *

In [13]:
pad_mines = [['.'] * (col + 2)]         # 맨 윗줄
for mine_row in mines:
    pad_row = ['.']                     # 맨 윗줄과 아랫줄을 제외한 줄
    pad_row.extend(mine_row)
    pad_row.append('.')
    pad_mines.append(pad_row)
pad_mines.append(['.'] * (col + 2))
print_mines(pad_mines)

. . . . .
. * . . .
. . . . .
. . . * .
. . . . .

In [14]:
final_mines = []
for i in range(1, row+1):
    line = []
    for k in range(1, col+1):
        if pad_mines[i][k] == '*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')                              + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

* 1 0
1 2 1
0 1 *

# UNIT 24

- UNIT 24.5

표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [15]:
# 리스트 -> 구둣점 제거 -> 소문자
text = """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, 
whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, 
and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career 
as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
Grown-ups never understand anything by themselves, and it is tiresome for children to be always and 
forever explaining things to the.
"""
text.count('the')

8

In [16]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()        # 구둣점 제거
    if word == 'the':                       # 소문자
        count_the += 1
print(count_the)

6

- UNIT 24.6

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [17]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [18]:
price_list.sort(reverse=True)   # 내림차순(descending order) 정렬
price_list

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [19]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

# UNIT 25

- UNIT 25

표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [20]:
# 센세풀이
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
d = dict(zip(keys, values))
d

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [21]:
del d['delta']
d

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [22]:
# 반복문에서 반복 대상이 되는 딕셔너리의 크기를 변경시키는 작업을 하면 에러 발생
# 하지만 데이터는 삭제
for key, value in d.items():
    if value == 30:
        del d[key]

RuntimeError: dictionary changed size during iteration

In [23]:
del_key = ''
for key, value in d.items():
    if value == 30:
        del_key = key
if del_key:
    del d[del_key]
d

{'alpha': 10, 'bravo': 20}

In [24]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
x.pop('delta')
del x(30)
print(x)

SyntaxError: cannot delete function call (3862659120.py, line 6)

# UNIT 26

- UNIT 26

표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [18]:
a, b = list(map(int, input().split()))
a = {i for i in range(1,a+1) if a % i == 0}
b = {i for i in range(1,b+1) if b % i == 0}
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

217

In [24]:
# 센세 풀이
# 약수의 집합
div_set = set()
x = 10
for i in range(1, x+1):
    if x % i == 0:
        div_set.add(i)
div_set

{1, 2, 5, 10}

In [25]:
div_set = {i for i in range(1, x+1) if x % i == 0}
div_set

{1, 2, 5, 10}

In [26]:
m, n = map(int, input().split())
m_set = {i for i in range(1, m+1) if m % i == 0}
n_set = {i for i in range(1, n+1) if n % i == 0}
print(m_set, n_set)

{1, 2, 3, 4, 6, 12} {1, 2, 4, 5, 10, 20}

In [27]:
common_divisors = m_set & n_set     # 교집합
common_divisors

{1, 2, 4}

In [28]:
sum(common_divisors)

7